<body id="search">
<div class="jumbotron text-center">

    <div class="container">
         <h3 class="display-4"><i class="fas fa-cocktail"></i> Craft Cocktail</h3>

    </div>

</div>
 <div class="container text-center">
<img src="../img/source.gif"/></div>
<br/>

<div class="text-center container">

    <div class="row">
        <div class="col">
            <form action="/" method="POST">

            <label for="cocktail-name" class="btn btn-primary btn-lg">Name of your cocktail</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="cocktail-name" aria-describedby="basic-addon3">
            </div>
               <label for="ingredients" class="btn btn-primary btn-lg">Ingredients</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" id="ingredients" aria-describedby="basic-addon3">
                        </div>

                <button type="submit" id="text-enter-button" class="btn btn-primary btn-lg" href="#" role="button">
                    Start Crafting
                </button>
            </form>
        </div>

    </div>


</div>

</div>
</body>
