

<div class="jumbotron">
        <div class="container">
            <h3 class="display-4"><i class="fas fa-cocktail"></i>Cocktail</h3>
            <p class="lead">Your personal bar assistant to search and create recipes</p>
        </div>
</div>

<div class="card sm-dark text-white">
        <img class="card-img" src="../img/oldie2.jpg" alt="Card image">
        <div class="card-img-overlay">
          <!-- <h5 class="card-title">Card title</h5> -->
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          <a href="/search" class="btn btn-outline*" id="search"><i class="fas fa-search"></i> Search</a>
          <a href="/create" class="btn btn-outline*" id="create"><i class="fas fa-book"></i> Create</a>
        </div>
      </div>

