<body id="search">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-3">
                <i class="fas fa-cocktail"></i> Cocktail Search Page</h3>
        </div>
    </div>
    <div class="text-center container">
        <form>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <input type="text" class="form-control text-center middle" name="drink" value="" id="drink">
            </div>
            <div class="col ">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <br/>
                <button type="submit" id="submit" class="btn btn-primary btn-lg" role="button">
                    Search By Name
                </button>
            </div>
            <div class="col">
            </div>
        </div>
        </form>
    </div>
<br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col-md-6" id="drinkName"></div>
    </div>
    <div class="row">
        <div class="col-md-6" id="measurements"></div>
    </div>
    <div class="row">
        <div class="col-md-6" id="recipe"></div>
    </div>
    <div class="row">
        <div class="col-md-6" id="pic"></div>
    </div>
</div>
    </div>
    <div>
        <footer class="page-footer">
            <b>&copy;copyright 2018</b>
        </footer>
    </div>
</body>
