body{
		font-family: Comic Sans MS, cursive;
		background-color: #24fa75;


		

}

.menu  {
		width:100%;
		border-collapse: collapse;
}

.menu td {
		height:45px;
}

h1 {
		font-size:40px;
		text-align:center;
}

h2 {
		font-size:20px;
		text-align:left;
		text-decoration:underline;
}

h3 {
		font-family: Comic Sans MS, cursive;
		font-size:16px;
		text-align:left;
		text-decoration:underline;
}

.img_cocktail a img { 
		border: 1px solid black; 
}

.img_cocktail a:hover img { 
		border: 1px solid #eee723;
}

a {
		font-style: italic;
		color:#2379ee;
}

a:hover {
		color:#d90909;
}

/*
#157e26   vert
#f67f1f    orange
#ff5f5f    rose
#2379ee    bleu
#eee723    jaune
#d90909   rouge
*/