p {
    color: #565656;
    /* display: inline; */
}

body {
    background-color: #D7CEC7;
   
    
}

.jumbotron {
    background-color: #C09F80;
    margin-bottom: 20%;
}

h3 { 
    color: #76323F;
    
}

h5 {
    padding-top: 80%;
    color: rgb(129, 121, 121);

}

#search {
    margin-right: 25%;
    margin-left: 10%;
}

.btn {
    /*margin-top: 95%;*/
    background-color: #C09F80;
    color: #76323F;
    outline: #C09F80;
    width: 50%;
    text-align: center;
}

/*#buttons {*/
    /*padding-top: 15%;*/
    /*padding-left: 12%;*/
/*}*/

.card {
    border-radius: 10px;
}

.card-body {
    height: 60px;
}

/* New styling for search results */
ul {
    list-style: none;
}

li {
    color: #565656;
}

img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
/*#search{*/
    /*background-image: url('../img/ct.png'), url(../img/ct.png);*/
    /*background-size: 200px, 200px;*/

    /*background-repeat: no-repeat;*/

    /*background-position: right 200px top 300px, left -20px top 300px;*/


/*}*/

/*img {*/
    /*height: 200px;*/
    /*width: 200px;*/
/*}*/


